#!/usr/bin/make -f


override_dh_auto_build:
	dh_auto_build -D src
    
override_dh_auto_clean:
	dh_auto_clean -D src

override_dh_auto_install:
	dh_auto_install -D src -- DESTDIR=$(CURDIR)/debian/ahoy PREFIX=/usr
   
%:
	TARGET_ARCH=-march=armv7 \
	CXX=arm-linux-gnueabihf-g++ \
	LD_FLAGS="-L/usr/lib/arm-linux-gnueabihf -lSDL2 -lSDL2_image" \
	dh $@ --parallel


