#!/usr/bin/make -f


override_dh_auto_build:
	dh_auto_build -D src
    
override_dh_auto_clean:
	dh_auto_clean -D src

override_dh_auto_install:
	dh_auto_install -D src -- DESTDIR=$(CURDIR)/debian/ahoy PREFIX=/usr
   
%:
	dh $@


